<nav>
  <ul>
    <li>
      <a routerLink="" [class.activated]="currentUrl == '/'">
        <i class="material-icons">home</i>
      </a>
    </li>
    <li>
      <a routerLink="settings" [class.activated]="currentUrl == '/settings'">
        <i class="material-icons">settings</i>
      </a>
    </li>    
    <li>
        <a routerLink="notes" [class.activated]="currentUrl == '/notes'">
          <i class="material-icons">notes</i>
        </a>
      </li>
    <li>
      <a routerLink="profile" [class.activated]="currentUrl == '/profile'">
        <i class="material-icons">account_circle</i>
      </a>
    </li>    
  </ul>
</nav>